.berry-switch
    margin-right: 5px
    margin-bottom: 5px

.berry-select
    margin: 10px 10px 10px 0

.date-entry-example
    > .berry-number-input
        margin-right: 20px

    > .berry-number-input-group
        margin-right: 20px

.upload-page
    .berry-button
        span
            display: flex
            align-items: center
            svg
                margin-right: 8px

.berry-form
    width: 600px
    border-radius: 4px
    padding: 50px
    box-shadow: 0 4px 22px 0 rgba(15, 35, 95, 0.12)

// .berry-checkbox-wrapper
//  & + .berry-checkbox-wrapper
//      margin-left: 15px
