.berry-badge
    margin-right: 20px

.berry-collapse
    margin: 20px 0

.berry-card
    width: 400px
    & + .berry-card
        margin-top: 30px

.empty-example
    .berry-empty
        border: 1px solid #dcdcdc
        border-radius: 4px

.berry-avatar
    & + .berry-avatar
        margin-left: 40px
