$primary-color = #31c27c
$warning-color = #fca130
$error-color = #f93e3e
$success-color = #35C613
$info-color = #61affe
$bg-color = #FAFAFA
$border-color = #e8e8e8
$label-color = #333
$default-color = #d9d9d9
$loading-color = #61affe
$font-color = rgba(0, 0, 0, .65)
$placeholder-color = rgba(0, 0, 0, .3)
$disabled-color = #f5f5f5
$disabled-font-color = rgba(0, 0, 0, .25)
$font-size = 12px
$font-size-small = 10px
$font-size-large = 14px
$border-radius = 4px
$default-shadow = 0 4px 22px 0 rgba(15, 35, 95, 0.12)
$default-section-shadow = 0 1px 4px 0 rgba(15, 35, 95, 0.12)
$default-text-shadow = 0 1px 0 rgba(0, 0, 0, .1)
$picker-offset-top = 5px
$mask-bg-color = rgba(0, 0, 0, .5)

$loading-time = 1.5s
$loading-opacity = .7
$animate-time = .5s
$animate-type = cubic-bezier(0.165, 0.84, 0.44, 1)
$animate-type-easy-in-out = cubic-bezier(.9, .25, .08, .83)
$default-transition = $animate-time $animate-type

//Button
$button-default-width = 40px
$button-default-height = 40px
$button-small-width = 30px
$button-small-height = 30px
$button-large-width = 50px
$button-large-height = 50px
$button-default-font-size = $font-size
$button-large-font-size = 14px
$button-small-font-size = 10px
$button-small-padding = 0 10px
$button-large-padding = 0 40px
$button-default-padding = 0 30px
$button-box-shadow = 0 2px 0 rgba(15, 35, 95, .02)
$button-disabled-opacity = .6

//Input
$input-height = 40px
$input-height-large = 50px
$input-height-small = 30px
$input-padding = 4px 10px
$input-box-shadow = 0 0 0 2px rgba($primary-color, 20%)
$input-box-shadow-error = 0 0 0 2px rgba($error-color, 20%)
$input-prefix-offset = 12px
$input-suffix-offset = 12px

//Grid
$max-col-length = 24
$max-row-width = 100%

//Message
$message-show-time = $animate-time
$message-theme-dark-bg = $mask-bg-color
$message-theme-light-bg = #fff
$message-theme-dark-font-color = #fff
$message-z-index = 999
$message-width = 300px
$message-height = 180px
$message-width-sm = 200px
$message-padding = 12px 25px
$message-title-size = 24px
$message-title-size-sm = 16px
$message-icon-font-size = 45px
$message-icon-font-size-sm = 25px

//notification
$notification-show-time = $animate-time
$notification-theme-dark-bg = $mask-bg-color
$notification-theme-light-bg = #fff
$notification-theme-dark-font-color = #fff
$notification-z-index = 999
$notification-width = 400px
$notification-height = 100px
$notification-width-sm = 200px
$notification-padding = 25px 25px
$notification-title-size = 16px
$notification-title-size-sm = 16px
$notification-icon-font-size = 30px
$notification-icon-font-size-sm = 25px
$notification-offset-right = 20px
$notification-offset-top = 20px
$notification-margin-bottom = 16px

//Tooltip
$tooltip-bg-color = #444
$tooltip-font-color = #fff
$tooltip-padding = 5px 15px
$tooltip-triangle-width = 10pxgI
$tooltip-offset-y = 15px
$tooltip-offset-x = 15px
$tooltip-wrapper-z-index = 99
$tooltip-dark-bg-color = $tooltip-bg-color
$tooltip-light-bg-color = #fff

//Popover
$popover-bg-color = #fff
$popover-padding = 0
$popover-wrapper-z-index = 99
$berry-popover-content-padding = 12px 16px
$berry-popover-content-width = 180px
$berry-popover-title-height = 30px

//Popconfirm
$berry-popconfirm-wrapper-z-index = 99
$berry-popconfirm-wrapper-padding = 12px 20px
$berry-popconfirm-offset = 12px

//Pagination
$pagination-simple-offset = 0 15px
$pagination-item-offset = 8px
$pagination-item-padding = 0 8px
$pagination-item-size-default = 32px
$pagination-item-size-large = 40px
$pagination-item-size-small = 28px

//Alert
$alert-padding = 8px 15px
$alert-message-font-size = $font-size + 2px
$alert-message-margin = 0 0 8px 0
$alert-icon-margin = 0 5px 0 0

//Modal 
$modal-bg-color = #fff
$modal-z-index = 999
$modal-padding = 20px
$modal-header-height = 40px
$modal-footer-padding = 15px 20px
$modal-title-font-size = 16px
$modal-header-padding = 5px 10px
$modal-close-font-size = 20px
$modal-close-font-color = rgba($font-color, 45%)
$modal-mask-color = $mask-bg-color
$modal-offset-top = 100px
$modal-offset-bottom = 100pxgI
$modal-width = 520px
$modal-method-width = 420px
$modal-method-icon-size = 22px
$modal-method-icon-offset = 10px
$modal-header-title-padding = 0 30px

//Spin
$spin-small-size = 24px
$spin-default-size = 32px
$spin-large-size = 40px
$spin-blur-opacity = .5
$spin-blur-filter = 1.5px

//BackTop
$back-top-offset-right = 30px
$back-top-offset-bottom = 30px
$back-top-inner-width = 50px
$back-top-inner-height = 50px

//Progress
$berry-progress-height = 10px
$berry-progress-stroke-width = 6px
$berry-progress-border-radius = 20px
$berry-progress-bg-offset = 15px 15px
$berry-progress-animate-time = 15s
$berry-progress-circle-percent-font-size = 20px

//Tab
$tab-tab-offset = 30px
$tab-tab-padding = 12px 30px
$tab-content-padding = 20px
$tab-card-tab-offset = 2px

//Badge
$badge-width = 20px
$badge-height = 20px
$badge-z-index = 99
$badge-padding = 0 6px
$badge-font-size = 12px
$badge-dot-width = 8px

//Dropdown
$berry-dropdown-z-index = 88

//Drawer
$berry-drawer-z-index = 999
$berry-drawer-width = 300px
$berry-drawer-height = 300px
$berry-drawer-animate-type = .3s cubic-bezier(.9, 0, .3, .7)
$berry-drawer-header-title-padding = 0 30px
$berry-drawer-header-padding = 5px 10px
$berry-drawer-header-height = 40px

//Radio
$berry-radio-width = 14px
$berry-radio-height = $berry-radio-width
$berry-radio-offset-right = 6px
$berry-radio-group-offset-right = 20px

//Container
$container-width = 1200px
$container-padding = 12px 20px

//Timeline
$berry-timeline-content-offset = 0 0 0 20px
$berry-timeline-line-width = 2px
$berry-timeline-dot-width = 10px
$berry-timeline-dot-height = 10px


//Checkbox
$berry-checkbox-width = 16px
$berry-checkbox-height = $berry-checkbox-width
$berry-checkbox-offset-right = 10px
$berry-checkbox-group-offset-right = 20px
$berry-checkbox-button-padding = 8px 20px
$berry-checkbox-button-padding-large = 10px 28px
$berry-checkbox-button-padding-small = 5px 10px

//Switch
$berry-switch-width = 44px
$berry-switch-height = 22px
$berry-switch-width-small = 28px
$berry-switch-height-small = 16px
$berry-switch-width-large = 56px
$berry-switch-height-large = 26px
$berry-switch-circle-width = $berry-switch-height - 4px
$berry-switch-circle-width-small = $berry-switch-height-small - 4px
$berry-switch-circle-width-large = $berry-switch-height-large - 4px
$berry-switch-border-radius = 100px
$berry-switch-bg-color = rgba(0, 0, 0, .25)
$berry-switch-offset = 2px

//Tag
$berry-tag-border-radius = 20px
$tag-small-height = 30px
$tag-large-height = 50px
$tag-large-font-size = 14px
$tag-small-font-size = 10px
$tag-small-padding = 0 5px
$tag-large-padding = 2px 20px
$tag-default-width = 30px
$tag-default-height = 30px
$tag-large-width = 45px
$tag-large-height = 45px
$tag-small-width = 22px
$tag-small-height = 22px

//CityPicker
$berry-city-picker-width = 400px
$berry-city-picker-z-index = 88

//Select
$berry-select-z-index = 99
$berry-select-width = 200px

//DatePicker
$berry-date-picker-z-index = 88
$berry-date-picker-content-height = 470px
$berry-date-picker-content-width = 322px
$berry-date-picker-content-max-width = 400px
$berry-date-picker-date-width = 36px
$berry-date-picker-date-height = 36px
$berry-date-picker-date-offset = 0 4px 4px 0
$berry-date-picker-padding = 15px 20px

//Breadcrumb 面包屑
$berry-breadcrumb-offset-bottom = 20px
$berry-breadcrumb-padding = 10px 0
$berry-breadcrumb-font-color = lighten($font-color, 50%)
$berry-breadcrumb-separator-offset = 0 10px
$berry-breadcrumb-separator-color = #d9d9d9

//NumberInput 数字输入框
$berry-number-input-width = 80px
$berry-number-input-width-small = 60px
$berry-number-input-width-large = 100px

//Steps
$berry-steps-offset-right = 35px
$berry-steps-icon-font-size = 40px
$berry-steps-icon-offset = 10px
$berry-steps-done-title-color = rgba($font-color, 75%)
$berry-step-offset-top = 10px
$berry-step-padding = 20px

//Collapse
$collapse-animate-time = .3s

//Upload
$berry-upload-list-width = 300px
$berry-upload-list-cover-width = 50px
$berry-upload-list-cover-height = 50px
$berry-upload-list-preview-width = 100%
$berry-upload-list-preview-height = 300px

//Calendar
$berry-calendar-header-height = 60px
$berry-calendar-day-header-height = 50px
$berry-calendar-header-font-size = 18px
$berry-calendar-active-color = rgba($primary-color, 50%)
$berry-calendar-mini-width = 300px
$berry-calendar-item-mini-height = 45px
$berry-calendar-day-header-mini-height = 40px
$berry-calendar-header-mini-height = 50px

//Card
$berry-card-header-font-size = 16px
$berry-card-header-padding = 18px 20px
$berry-card-title-padding = 10px 20px
$berry-card-content-padding = 22px 20px

//Form
$berry-form-item-padding-bottom = 35px
$berry-form-item-label-padding-right = 10px

//Empty
$berry-empty-height = 200px
$berry-empty-icon-size = 50px
$berry-empty-offset = 12px
$berry-empty-icon-height = 55px

//Avatar
$berry-avatar-size-base = 32px
$berry-avatar-size-lg = 40px
$berry-avatar-size-sm = 24px
$berry-avatar-font-size-base = 18px
$berry-avatar-font-size-lg = 24px
$berry-avatar-font-size-sm = 14px
$berry-avatar-bg = #ccc
$berry-avatar-color = #fff
$berry-avatar-border-radius = $border-radius

//Divider
$berry-divider-color = $border-color

//Table
$berry-table-row-hover-bg-color = rgba($primary-color, 10%)

$media-screen-xs-max = 576px
$mobile = ~ (screen and max-width = $media-screen-xs-max)
